a.decrease,
a.increase {
	display: block;
	float: right;
	margin-right: 5px;
}

div.admin_edit {
	margin: 0px;
	padding: 0px;
	width: 36px;
	height: 36px;
	position: absolute; 
	top: 0px; 
	right: 0px;
	-moz-box-shadow: 4px 4px 5px #000;
	-webkit-box-shadow: 4px 4px 5px #000;
	box-shadow: 4px 4px 5px #000;
}

div.admin_edit.new {
	left: 50%;
}

div.admin_edit a {
	margin: 0px;
	padding: 0px;
	width: 36px;
	height: 36px;
	position: absolute;
	background: #dddddd;
	border-top: 2px solid #eeeeee;
	border-right: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	border-left: 2px solid #eeeeee;
}

div.admin_edit a img.admin_edit {
	position: absolute;
	top: 2px; 
	left: 2px;
	margin: 0px;
	padding: 0px;
	border: none !important;
}

div.admin_edit a:hover {
	background: #e3e3e3;
	border-top: 2px solid #cccccc;
	border-right: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	border-left: 2px solid #cccccc;
}

div.admin_edit a:hover img.admin_edit {
	top: 3px; 
	left: 3px;
}

div#ajax_loader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	border: none;
	margin: 0;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #888888;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 3px 3px 5px #000;
	-webkit-box-shadow: 3px 3px 5px #000;
	box-shadow: 3px 3px 5px #000;
}
div#ajax_loader img {
	border: none;
}


/**
 *------------------------------------------------
 * adminBox 
 *------------------------------------------------
 */ 

div#adminBox {
	position: fixed;
	background: #dc2f00;
	width: 90px;
	top: 25%;
	right: 0px;
	line-height: 60px;
	height: 70px;
	height: auto;
	overflow: hidden;
	-moz-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	font-size: 120%;
	z-index: 1000;
	-moz-box-shadow: -4px 4px 5px #000;
	-webkit-box-shadow: -4px 4px 5px #000;
	box-shadow: -4px 4px 5px #000;
	transition: height 1s, width 1s;
	-moz-transition: height 1s, width 1s;
	-webkit-transition: height 1s, width 1s;
	-o-transition: height 1s, width 1s;
}

div#adminBox:hover {
	width: 350px;
	height: auto;
}

div#adminBox a,
div#adminBox h2 {
	display: block;
	width: 350px;
	background-position: 16px center;
	background-repeat: no-repeat;
	padding-left: 90px;
	text-align: left;
	color: #ffffff;
	text-decoration: none;
	font-family:Tahoma, Arial, helvetica, sans-serif;
}

div#adminBox a:hover {
	background-color: #ff5d31;
	text-decoration: none;
}

div#adminBox h2.admin {
	font-family:Tahoma, Arial, helvetica, sans-serif;
	background-position: 13px center;
	background-image: url("/media/.ico/64/wwlogo.png");
	background-color: #c92b00;
	border-bottom: 1px solid #ff5d31;
	line-height: 70px;
	height: 70px;
	margin: 0px;
}

div#adminBox a.admin {
	background-image: url("/media/.ico/48/settings.png");
}

div#adminBox a.dict {
	background-image: url("/media/.ico/48/dictionary.png");
}

div#adminBox a.bench {
	background-image: url("/media/.ico/48/chart.png");
}

div#adminBox a.logout {
	background-image: url("/media/.ico/24/user_remove.png");
	background-position: 18px center;
	font-size: 90%;
	line-height: 40px;
}

div#adminBox a.close:hover {
	background-color: transparent;
}

div#adminBox a.close {
	background-position: center center;
	background-image: url("/media/.ico/24/remove.png");
	position: absolute;
	top: 18px;
	left: 308px;
	width: 24px;
	height: 24px;
	padding: 0px;
}

/**
 *------------------------------------------------
 * translations 
 *------------------------------------------------
 */ 

table#translations tr td {
	font-size: 140%;
	line-height: 24px;
}

table#translations tr:hover {
	background: #eeeeee;
}

table#translations td {
	padding: 1px 4px;
	text-align: left;
}

table#translations td a {
	background: url("/media/.ico/24/edit.png") center center no-repeat;
	width: 24px;
	height: 24px;
	display: block;
}

/**
 *------------------------------------------------
 * messages 
 *------------------------------------------------
 */ 

div.messages {
	border-width: 1px;
	border-style: solid;
	padding: 5px 10px 5px 45px;
	margin: 3px 0px;
	background-position: 3px center;
	background-repeat: no-repeat;
}

div.messages.info {
	background-color: #cfefb7;
	border-color: #99cb75;
	background-image: url("/media/.ico/32/accept.png"); 
}

div.messages.warning {
	background-color: #f8eaba;
	border-color: #cfae87;
	background-image: url("/media/.ico/32/warning.png"); 
}

div.messages.error {
	background-color: #ef7a7a;
	border-color: #c94545;
	background-image: url("/media/.ico/32/remove.png"); 
}

/**
 *------------------------------------------------
 * paging 
 *------------------------------------------------
 */ 

/* colors */
div.paging a {
	color: #ffffff;
	background-color: #888888;
}

div.paging a:hover {
	background-color: #aaaaaa;
}

div.paging .paging_actual {
	background-color: #aaaaaa;
}

/* rest */
div.paging {
	margin: 10px 0px;
	padding: 2px 0px;
	text-align: center;
}

div.paging span,
div.paging a {
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	letter-spacing: -1px;
	font-weight: bold;
	float: left;
	margin: 0px 1px;
}
div.paging a:hover {
	text-decoration: none;
}

div.paging a.paging_first {
	float: right;
}

div.paging .paging_actual {
	margin: 0px 1px;
}


div.paging a.paging_first {
	background-image: url(/media/.ico/32/page_first.png);
}
div.paging a.paging_prev {
	background-image: url(/media/.ico/32/page_prev.png);
}
div.paging a.paging_next {
	background-image: url(/media/.ico/32/page_next.png);
}
div.paging a.paging_last {
	background-image: url(/media/.ico/32/page_last.png);
}


div.paging a.paging_first,
div.paging a.paging_prev,
div.paging a.paging_next,
div.paging a.paging_last,
div.paging a.paging_nextList,
div.paging a.paging_prevList {
}

div.paging.rounds a.paging_first {
	background-image: url(/media/.ico/16/back.png);
}
div.paging.rounds a.paging_prev {
	background-image: url(/media/.ico/32/back.png);
}
div.paging.rounds a.paging_next {
	background-image: url(/media/.ico/32/next.png);
}
div.paging.rounds a.paging_last {
	background-image: url(/media/.ico/16/next.png);
}
div.paging.rounds a.paging_nextList {
	background-image: url(/media/.ico/24/no_arrow.png);
}
div.paging.rounds a.paging_prevList {
	background-image: url(/media/.ico/24/no_arrow.png);
}
div.paging.rounds span.paging_actual {
	background-image: url(/media/.ico/32/no_arrow.png);
}

div.paging div.paging_first,
div.paging div.paging_next,
div.paging div.paging_last,
div.paging div.paging_nextList,
div.paging div.paging_prevList,
div.paging div.paging_actual {
	min-height: 32px;
}
div.paging div div.inner {
	min-height: 32px;
}
div.paging div.paging_first {
	width: 6%;
	float: left;
}
div.paging div.paging_first div.inner {
	float: right;
}
div.paging div.paging_prev {
	width: 6%;
	float: left;
}
div.paging div.paging_next {
	width: 6%;
	float: left;
}
div.paging div.paging_next div.inner {
	float: right;
}
div.paging div.paging_last {
	width: 6%;
	float: left;
}

div.paging div.paging_nextList {
	width: 35%;
	float: left;
}

div.paging div.paging_prevList {
	width: 35%;
	float: left;
}
div.paging div.paging_prevList div.inner {
	float: right;
}

div.paging div.paging_actual {
	width: 6%;
	float: left;
}

